.answer {
  border: 1px solid #56AEFF;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.answer:not(.wrong):not(.right):hover {
  background: #efefef;
}

.wrong {
  background: #F3ABAB;
  border: 1px solid #F3ABAB;
}

.right {
  background: #ABF3B2;
  border: 1px solid #ABF3B2;
}